p {
  text-align: justify;
}

.card:hover {
  transform: scale(1.02);
}

.goCart {
  background-color: #ffe9b1;
  font-weight: bold;
  border-radius: 10px;
  width: 8rem;
  color: #3b3486;
}

.goCart:hover {
  transform: scalex(1.05);
}
