p {
  text-align: justify;
}

button {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 100px;
  height: 40px;
  border-color: transparent;
}

.card:hover {
  transform: scale(1.02);
}

.botonDetail {
  background-color: #ffe9b1;
  color: #3b3486;
  border-radius: 10px;
}

.botonDetail:hover {
  transform: scalex(1.05);
}
